<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">    
        <li class="nav-item"><a class="nav-link nav-redirect" href="{{ path('contact_index') }}">Liste des contacts</a></li>
        <li class="nav-item"><a class="nav-link nav-redirect" href="{{ path('contact_new') }}">Créer un contact</a></li>
    </ul>
</nav>
